/* for the social links on the about page */

.ul-socials {
  list-style-type: none !important;
  padding: 0;
  display: block;
  text-align: center;
}

.ul-socials li {
  display: inline-block;
}

.nested-links .ul-socials li a {
  text-align: center;
  padding: 8px;
  margin: 10px;
}
  
/* wrapping text around an image */

.image-left-250 {
    width: 250px !important;
    float: left;
    padding: 0 15px 15px 0;
  }

  .image-right-250 {
    width: 250px !important;
    float: right;
    padding: 0  15px 15px;
  }

